/* 전체 선택자 */
* {
  color: red;
}

/* 요소 선택자 */
h2 {
  color: orange;
}
h3,
h4 {
  color: blue;
}

/* 클래스 선택자 */
.green {
  color: green;
}

/* id 선택자 */
#purple {
  color: purple;
}

/* 속성 선택자 */
[class^="y"] {
  color: yellow;
}
